/*--------------------------------------------------------- 
                    #Index 
---------------------------------------------------------
  #Global  
    #Variables
    #BaseSelectors
  #MainClasses
    #GeneralClasses
    #Header
    #Footer
    
*/

/*--------------------------------------------------------- 
                    #Global 
---------------------------------------------------------*/


/*----------
#Variables
---------*/

:root {
  --main: #26BF66;
  --light-accent: #59B7CC;
  --dark-accent: #7A616C;
  --light: #F4EFF2;
  --dark: #181821;

  --heading-font: 'Lemonada', cursive;
  --body-font: 'Montserrat', sans-serif;

  --bottom-margin: 0 0 15px 0;
  --bigger-margin: 0 0 30px 0;
  --box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, .2);
  --default-radius: 8px;

}

/*----------
#BaseSelectors
---------*/  
  


/*--------------------------------------------------------- 
                    #MainClasses 
---------------------------------------------------------*/


/*---------
#GeneralClasses
---------*/



/*---------
#Header
---------*/

  /* Bootstrap makes the logo huge for some reason */
  .navbar-brand img {
    height: 10vh;
  }

  /*---------
#Footer
---------*/



/*---------
#Footer
---------*/

